<!-- <div class="container">
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy Component</button>
      <app-server-element *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div> -->



<!-- ------------------ ASSIGNMENT 4 - GAME CONTROL -------------------- -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <app-game-control
          (incEvent)="onIncEvent($event)"></app-game-control>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
      <div class="col-xs-6">
        <strong>Odd Numbers</strong>
        <app-odd *ngFor="let oddNumber of oddNumbers">
            <p>{{oddNumber}}</p>
        </app-odd>
      </div>
      <div class="col-xs-6">
        <strong>Even Numbers</strong>
        <app-even *ngFor="let evenNumber of evenNumbers">
            <p>{{evenNumber}}</p>
        </app-even>
      </div>
    </div>
</div>